@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
*{
    font-family: "Fira Code", monospace;
}
body {
    background-color: #1f1f1f;
    margin: 0;
    color: white;
    overflow: hidden;
}
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #181818;
    border-top: 2px solid #2b2b2b;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    transition: color 0.3s; 
}

.toolbar {
  flex-direction: column;
  background-color: white;
  width: 15%;
  height: 100vh;
  background-color: #181818;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-right: 2px solid #2b2b2b;
}

.toolbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.area {
  resize: none;
  width: 80.85%;
  height: 80.8vh;
  padding: 2%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #1f1f1f;
  border: none;
  display: none;
  justify-content: center;
  align-items: center;
}

button {
  width: 80%;
  padding: 4%;
  margin-left: 10%;
  margin-top: 12%;
  background-color: #1f1f1f;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.preview-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  height: 89.75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.preview-img img {
  max-width: 85%;
  max-height: 85%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#visualizer {
  display: none;
}

canvas {
  width: 50%;
  height: auto;
}